<footer class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5><i class="fas fa-car"></i> NABILOX CAR</h5>
        <p data-translate="footerDesc">Your trusted car rental partner in Rabat, Morocco. Professional service available 24/7.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 data-translate="footerQuickLinks">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/']" fragment="home" data-translate="navHome">Home</a></li>
          <li><a [routerLink]="['/']" fragment="about" data-translate="navAbout">About</a></li>
          <li><a [routerLink]="['/cars']" data-translate="navCars">Our Cars</a></li>
          <li><a [routerLink]="['/']" fragment="services" data-translate="navServices">Services</a></li>
          <li><a [routerLink]="['/']" fragment="reviews" data-translate="navReviews">Reviews</a></li>
          <li><a [routerLink]="['/']" fragment="contact" data-translate="navContact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5 data-translate="footerContact">Contact</h5>
        <p><i class="fas fa-phone"></i> +212 6 61 84 19 71</p>
        <p><i class="fas fa-map-marker-alt"></i> Rabat 10030, Morocco</p>
        <div class="social-links mt-3">
          <a href="https://wa.me/212661841971" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
          <a href="tel:+212661841971"><i class="fas fa-phone"></i></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p class="mb-0">&copy; {{ currentYear }} Nabilox Car. <span data-translate="footerRights">All rights reserved.</span></p>
    </div>
  </div>
</footer>
