<nav class="navbar navbar-expand-lg navbar-dark sticky-top" [class.navbar-scrolled]="isScrolled">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img *ngIf="!logoLoadError" src="images/nabilox-logo.png" alt="Nabilox Car Logo" (error)="onLogoError()">
      <span *ngIf="logoLoadError" class="brand-fallback"><i class="fas fa-car"></i> <span data-translate="brandName">NABILOX CAR</span></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" fragment="home" data-translate="navHome">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" fragment="about" data-translate="navAbout">About</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/cars']" routerLinkActive="active" data-translate="navCars">Our Cars</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" fragment="services" data-translate="navServices">Services</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" fragment="reviews" data-translate="navReviews">Reviews</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" fragment="contact" data-translate="navContact">Contact</a></li>
        <li class="nav-item language-nav-item">
          <div class="language-switcher" [class.open]="languageMenuOpen">
            <button
              type="button"
              class="lang-dropdown-toggle"
              (click)="toggleLanguageMenu($event)"
              [attr.aria-expanded]="languageMenuOpen"
              aria-label="Select language"
            >
              <img [src]="selectedLanguage.flag" [alt]="selectedLanguage.label" class="lang-flag" width="22" height="16">
              <span class="lang-label">{{ selectedLanguage.shortLabel }}</span>
              <i class="fas fa-chevron-down lang-caret"></i>
            </button>

            <ul class="lang-dropdown-menu" *ngIf="languageMenuOpen" role="listbox" aria-label="Languages">
              <li *ngFor="let language of languageOptions; trackBy: trackByLanguageCode">
                <button
                  type="button"
                  class="lang-option"
                  [class.active]="languageService.currentLang === language.code"
                  (click)="selectLanguage(language.code)"
                >
                  <img [src]="language.flag" [alt]="language.country" class="lang-flag" width="22" height="16">
                  <span>{{ language.label }}</span>
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
